* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#container {
  width: 1120px;
  margin: 88px auto;
}

header {
  margin-bottom: 40px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1B1B1B;

  margin-top: 8px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #1B1B1B;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #E5245E;
}

p {
  font-size: 16px;
  color: #696969;
  font-weight: normal;
}

p#texto {
  font-style: italic;
  text-align: center;
  margin: 24px auto 0px;
}

#divisoria {
  width: 100%;
  border-top: 1px solid #D9D9D9;
  margin: 40px auto 64px;
}

#list {
  margin-top: 64px 0px 65px;
}

h2 + h3 {
  margin-top: 2px;
}

p + h2 {
  margin-top: 4px;
}

#card1 {
  margin: 64px 0px 0px;
}

#card2 {
  margin: 48px 0px;
}

ol li {
  margin: 0px 30px;
}

ol li h2 {
  font-size: 28px;
  color: #1B1B1B;
  font-weight: bold;

  margin-top: 20px;
}

ol li::marker {
  font-size: 28px;
  font-weight: bold;
}

span {
  font-weight: bold;
  color: #333333;
}

ul {
  list-style-type: initial;
  padding-left: 24px;
}

ul li::marker {
  font-size: 16px;
  color: #333333;
}

li.historia {
  color: #0C51A7;
  font-weight: bold;
}

li.casais {
  color: #591B98;
  font-weight: bold;
}

li.familias {
  color: #E5245E;
  font-weight: bold;
}

li.orcamento {
  color: #E95E10;
  font-weight: bold;
}

#divisoria2 {
  width: 100%;
  border-top: 1px solid #D9D9D9;
  margin: 40px auto 40px;
}

img {
  border-radius: 28px;
}

p#conclusao {
  text-align: center;
}

footer {
  color: #333333;
  text-align: center;
  margin-bottom: 48px;
}

footer img {
  vertical-align: middle;
}