* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#container {
  width: 1120px;
  margin: 88px auto;
  border: 1px solid red;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1B1B1B;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #1B1B1B;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #E5245E;
}

p {
  font-size: 16px;
  color: #696969;
  font-weight: normal;
}

p#texto {
  font-style: italic;
  text-align: center;
}

ol li h2 {
  font-size: 32px;
  color: #1B1B1B;
  font-weight: bold;
}

ol li::marker {
  font-size: 32px;
  font-weight: bold;
}

span {
  font-weight: bold;
  color: #333333;
}

ul {
  list-style-type: initial;
  padding-left: 24px;
}

ul li::marker {
  font-size: 16px;
  color: #333333;
}

li.historia {
  color: #0C51A7;
  font-weight: bold;
}

li.casais {
  color: #591B98;
  font-weight: bold;
}

li.familias {
  color: #E5245E;
  font-weight: bold;
}

li.orcamento {
  color: #E95E10;
  font-weight: bold;
}


img {
  border-radius: 28px;
  font-weight: bold;
}

p#conclusao {
  text-align: center;
}